@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(233, 233, 233, 1);
  background-image: linear-gradient(
    136deg,
    rgba(233, 233, 233, 1) 37%,
    rgba(241, 245, 248, 1) 88%
  );
  height: 100vh;
  color: #42414d;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  text-shadow: 4px 4px 6px rgba(187, 187, 187, 1);
}

main {
  display: grid;
  place-content: center;

  grid-template-columns: 600px 50px 600px;
}

.heading-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.heading-info i {
  font-size: 20px;
}

.info-window {
  display: none;
}

.show-info {
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
  height: 100px;
  width: 150px;
  background-color: rgb(218, 218, 218);
  border: 1px solid #949494;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  animation: popup 0.2s;
}

@keyframes popup {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

h4 {
  text-shadow: 4px 4px 6px rgba(187, 187, 187, 1);
}

.input-container,
.output-container,
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  height: 60vh;
  width: 70%;
  resize: none;
  border-radius: 7px;
  padding: 15px 10px;
  border: none;
  font-size: 14px;
  background-color: #fefcff;
}

.sort-button {
  border: 1px solid #42414d;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
}

.sort-button:hover {
  background-color: #42414d;
  color: #fefcff;
}

/* Shadows */

textarea,
button {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(233, 233, 233, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(233, 233, 233, 1);
  box-shadow: 8px 8px 24px 0px rgba(233, 233, 233, 1);

  transition: all 0.4s;
}

textarea:hover,
button:hover {
  -webkit-box-shadow: 8px 8px 24px 0px rgb(211, 211, 211);
  -moz-box-shadow: 8px 8px 24px 0px rgb(211, 211, 211);
  box-shadow: 8px 8px 24px 0px rgb(211, 211, 211);
}

/* ScrollBars */
* {
  scrollbar-width: thin;
  scrollbar-color: #949494 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #949494;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
